:root {
  font-family: arial;
  background-image: url('https://i.pinimg.com/originals/45/7c/d3/457cd30ba190860670a354790f139913.jpg');
}

#page-header, #page-footer {
  background-color: rgb(105, 105, 212);
  color: white;
}

#page-header {
  font-size: 3rem;
}

#errorMsg {
  color: darkred
}

#page-header > h1 {
  color: white;
}

#page-footer {
  text-align: center;
  padding-top: 10px;
}

#page-footer > small {
  font-size: 2rem;
}

#menu {
  background-color: gray;
}

#menu a {
  color: white;
  text-decoration: none;
}

#menu a:hover {
  text-decoration: underline;
}


.pageHeader {
  font-size: 3rem;
  font-weight: bold;
}